@import "tailwindcss";

@font-face {
  font-family: 'Recoleta Alt';
  src: url('/fonts/fonnts.com-recoleta-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta Alt';
  src: url('/fonts/fonnts.com-recoletaalt-semibold.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('/fonts/fonnts.com-Circular_std_Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Circular Std', sans-serif;
  background-color: #ffffff;
  color: #171717;
}


.font-heading {
  font-family: 'Recoleta Alt', serif;
  
}
